


@font-face {
    font-family: '3_of_9_barcoderegular';
    src: url(https://gallery.getshoutout.com/assets/fonts/webfontkit-20210621-092000/3of9_new-webfont.woff2) format('woff2'),
         url(https://gallery.getshoutout.com/assets/fonts/webfontkit-20210621-092000/3of9_new-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}
