.documentation{
    background: url(images/bg_products.png) !important;
    position: relative;
    z-index: 5;
    /* overflow: hidden; */
    width: 100%;
    height: auto;
    pointer-events: auto;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat !important;
}


.title{
    margin-top: 5%;
    color: #212121;
    font-size: 3rem;
}

.desc{
    color: #212121;
    font-size: 1.3rem;
}

.lite{
    margin-top: 10%;
}